//- include ../booking-form/booking-form

mixin popup(data)
  #top-popup.popup.mfp-hide&attributes(attributes)
    h2.popup__title.title.title_reg Оставьте свои <span>контакты</span> <br/>и <span>укажите даты</span> заезда и отьезда
    +booking-form-popup().booking-form.booking-form_popup
