mixin booking-form(data)
  .booking-form&attributes(attributes)
    .booking-form__in
      form.form(action="")
        .form__group.form__group_date
          input.form__input(type="date" value="Дата заезда" placeholder="Дата заезда")
          != pugHelpers.Icon.call(locals, {iconName: 'date-icon', className: 'form__icon'})
        .form__group.form__group_date
          input.form__input(type="date" value="Дата отъезда" placeholder="Дата отъезда")
          != pugHelpers.Icon.call(locals, {iconName: 'date-icon', className: 'form__icon'})

        .form__group.form__group_phone
          input.form__input(type="text" value="" placeholder="Телефон для связи")

        input.booking-form__submit.form__submit.button(type="submit", value="Отправить запрос")


mixin booking-form-popup(data)
  .booking-form&attributes(attributes)
    .booking-form__in
      form.form.form_popup(action="")
        .form__group.form__group_date
          input.form__input(type="date" value="Дата заезда" placeholder="Дата заезда")
          != pugHelpers.Icon.call(locals, {iconName: 'date-icon', className: 'form__icon'})
        .form__group.form__group_date
          input.form__input(type="date" value="Дата отъезда" placeholder="Дата отъезда")
          != pugHelpers.Icon.call(locals, {iconName: 'date-icon', className: 'form__icon'})

        .form__group.form__group_phone
          input.form__input(type="text" value="" placeholder="Телефон для связи")

        input.booking-form__submit.form__submit.button(type="submit", value="Отправить запрос")
