include ../nav-trigger/nav-trigger.pug
include ../nav/nav.pug
include ../phone/phone.pug

mixin header(data)
  header.header&attributes(attributes)

    .header__container.container.flex

      a.header__logo.logo(href="#")
        img.logo__image(src="assets/images/general/logo.png", alt="")

      //- +nav-trigger().header__nav-trigger

      +nav().header__nav

      +phone().header__phone

      a.header__button.button.button_transparent(href="#") Обратный звонок
