.header
  position: absolute
  z-index: 3
  top: 0
  left: 0
  right: 0
  +tr(.3s linear)

  &__container
    flex-wrap: wrap
    align-items: center
    +mq($large)
      padding-top: 11px
      padding-bottom: 11px
      flex-wrap: nowrap

  &__logo
    padding-top: 15px
    padding-bottom: 15px
    +mq($small)
      padding-top: 10px
      padding-bottom: 10px
      // max-width: 245px
      +rfs(245px, max-width)
      width: 100%

  &__nav
    // max-width: 710px
    +rfs(710px, max-width)
    width: 100%

  &__nav-trigger
    margin-left: auto

  &__phone
    // max-width: 270px
    +rfs(270px, max-width)
    width: 100%
