include ../nav-trigger/nav-trigger.pug
include ../nav/nav.pug
include ../phone/phone.pug

mixin header(data)
  header.header&attributes(attributes)

    .header__container.container.flex

      a.header__logo.logo(href="#")
        img.logo__image(src="assets/images/general/logo.png", alt="")

      +nav().header__nav

      .header__contacts
        +phone().header__phone

        a.header__button.button.button_transparent.open-popup(href="#top-popup") Обратный звонок

      +nav-trigger().header__nav-trigger
