html,
body
  height: 100%

.page
  position: relative
  min-height: 100vh
  display: flex
  flex-direction: column
  background: $white
  color: $black
  font-display: swap
  font-family: $n
  color: #000000
  font-weight: 400
  +font-size(12px)
  +rfs(1.5, line-height)
  letter-spacing: normal
  +mq($small)
    +font-size(18px)
    +rfs(1.444, line-height)

.page_inner
  .cta
    margin-top: 0
  .footer__container
    +padding-top(60px)
    +padding-bottom(30px)
    +mq($medium)
      +padding-top(155px)

  &__inner
    flex-grow: 1
    flex-shrink: 0
    flex-basis: auto


.container
  margin-right: auto
  margin-left: auto
  // padding-right: 15px
  // padding-left: 15px
  +padding-right(20px)
  +padding-left(20px)
  max-width: 100%
  width: 100%
  +mq($small)
    +padding-right(15px)
    +padding-left(15px)
    max-width: 1470px

img
  max-width: 100%
  height: auto
