@font-face
  font-family: 'Buyan'
  src: local('Buyan Bold'), local('Buyan-Bold'), url('../fonts/hinted-subset-Buyan-Bold.woff2') format('woff2'), url('../fonts/hinted-subset-Buyan-Bold.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Buyan'
  src: local('Buyan'), local('Buyan-Regular'), url('../fonts/hinted-subset-Buyan-Regular.woff2') format('woff2'), url('../fonts/hinted-subset-Buyan-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap


@font-face
    font-family: 'Nunito'
    src: local('Nunito SemiBold'), local('Nunito-SemiBold'), url('../fonts/hinted-subset-Nunito-SemiBold.woff2') format('woff2'), url('../fonts/hinted-subset-Nunito-SemiBold.woff') format('woff')
    font-weight: 600
    font-style: normal
    font-display: swap


@font-face
    font-family: 'Nunito'
    src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'), url('../fonts/hinted-subset-Nunito-ExtraBold.woff2') format('woff2'), url('../fonts/hinted-subset-Nunito-ExtraBold.woff') format('woff')
    font-weight: 800
    font-style: normal
    font-display: swap


@font-face
    font-family: 'Nunito'
    src: local('Nunito Light'), local('Nunito-Light'), url('../fonts/hinted-subset-Nunito-Light.woff2') format('woff2'), url('../fonts/hinted-subset-Nunito-Light.woff') format('woff')
    font-weight: 300
    font-style: normal
    font-display: swap


@font-face
    font-family: 'Nunito'
    src: local('Nunito Bold'), local('Nunito-Bold'), url('../fonts/hinted-subset-Nunito-Bold.woff2') format('woff2'), url('../fonts/hinted-subset-Nunito-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal
    font-display: swap


@font-face
    font-family: 'Nunito'
    src: local('Nunito Black'), local('Nunito-Black'), url('../fonts/hinted-subset-Nunito-Black.woff2') format('woff2'), url('../fonts/hinted-subset-Nunito-Black.woff') format('woff')
    font-weight: 900
    font-style: normal
    font-display: swap


@font-face
    font-family: 'Nunito'
    src: local('Nunito Regular'), local('Nunito-Regular'), url('../fonts/hinted-subset-Nunito-Regular.woff2') format('woff2'), url('../fonts/hinted-subset-Nunito-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: swap


@font-face
  font-family: 'Roboto'
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/hinted-subset-Roboto-Regular.woff2') format('woff2'), url('../fonts/hinted-subset-Roboto-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Roboto'
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/hinted-subset-Roboto-Medium.woff2') format('woff2'), url('../fonts/hinted-subset-Roboto-Medium.woff') format('woff')
  font-weight: 500
  font-style: normal
  font-display: swap


$b: "Buyan", Arial, "Helvetica Neue", Helvetica, sans-serif
$n: "Nunito", Arial, "Helvetica Neue", Helvetica, sans-serif
$r: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif
