mixin about(data)
  section.about
    .about__container.container
      .about__image
        img.lazy(data-src="assets/images/content/about-image.png" alt="")

      h2.about__title.title.title_reg О деревне <span>лобаново</span>
      .about__text.text
        p Клубная деревня Лобаново – это закрытый комплекс деревянных домиков, в котором была сохранена и поддерживается атмосфера русской деревни. Здесь мы недосягаемы для шума железных дорог и автомагистралей, воду пьем из домашнего крана, рыбу ловим в своем пруду.

      .about__articles
        article.about__article.article
          a.article__link(href="#")
            .article__image
              img.lazy(data-src="assets/images/content/article-img-1.png" alt="")
            .article__title Наши домики
        article.about__article.article
          a.article__link(href="#")
            .article__image
              img.lazy(data-src="assets/images/content/article-img-2.png" alt="")
            .article__title наша природа

        article.about__article.article
          a.article__link(href="#")
            .article__image
              img.lazy(data-src="assets/images/content/article-img-3.png" alt="")
            .article__title русская баня

        article.about__article.article
          a.article__link(href="#")
            .article__image
              img.lazy(data-src="assets/images/content/article-img-4.png" alt="")
            .article__title застолье

        article.about__article.article
          a.article__link(href="#")
            .article__image
              img.lazy(data-src="assets/images/content/article-img-5.png" alt="")
            .article__title национальный парк
