.about
  overflow: hidden
  &__container
    +mq($small)
      +padding-top(105px)
      +padding-bottom(228px)

  &__image
    margin-bottom: 30px
    display: block
    +mq($small)
      margin-bottom: 0
    img
      display: block
      width: 100%
      height: auto

  &__title
    +margin-bottom(10px)
    +mq($small)
      +margin-bottom(35px)
  &__text
    +margin-bottom(22px)
    +mq($small)
      +margin-bottom(57px)
      +rfs(870px ,max-width)

  &__articles
    display: flex
    flex-wrap: wrap
    +mq($small)
      +margin-right(-18px)
      +margin-left(-18px)

  &__article
    margin-bottom: 10px
    width: 100%

    +mq($small)
      padding-right: 18px
      margin-bottom: 38px
      padding-left: 18px
      max-width: 33.3%

