.choose-house
  overflow: hidden
  &__container
    +padding-top(90px)
    +padding-bottom(45px)
  &__title
    +margin-bottom(45px)

  &__filter
    +margin-bottom(65px)

  &__grid
    margin-left: -15px
    margin-right: -15px
    display: flex
    flex-wrap: wrap
  &__card
    margin-right: 15px
    margin-bottom: 33px
    margin-left: 15px
    // max-width: 25%
    +rfs(22.8%, max-width)
    width: 100%
