mixin rating(data)
  ul.rating&attributes(attributes)
    li.rating__item
      .rating__num
        | 8
        span.rating__dot .
        | 8
      .rating__text баллов на <br/>BOOKING<span>.COM</span>
    li.rating__item
      .rating__num
        | 8
        span.rating__dot .
        | 8
      .rating__text баллов на <br/>BOOKING<span>.COM</span>
    li.rating__item
      .rating__num
        | 8
        span.rating__dot .
        | 8
      .rating__text баллов на <br/>BOOKING<span>.COM</span>
