mixin equipment(data)
  section.equipment
    .equipment__container.container
      h2.equipment__title.title.title_reg Оснащение <span>домиков</span>
      .equipment__text Домик для проживания представляет из себя деревенский <br/>одноэтажный сруб 36.0 m² 3 + 1 человек.
      .equipment__w
        ul.equipment__list
          li.equipment__item
            a.equipment__link(data-src="assets/images/content/image-scheme-1.svg") Зал: двумя кроватями (двуспальная и односпальная) и возможностью поставить дополнительное спальное место (раскладушка); Телевизор и WiFi
          li.equipment__item
            a.equipment__link(data-src="assets/images/content/image-scheme-2.svg") Кухня: холодильник, электроплита, микроволновая печь, чайник, посуда;
          li.equipment__item
            a.equipment__link(data-src="assets/images/content/image-scheme-3.svg") Душевая: душ, туалет, умывальник, печка-камин и др. Дизайн – под русскую избу.
          li.equipment__item
            a.equipment__link(data-src="assets/images/content/image-scheme-4.svg") Связь: В домике бесплатный WiFi. Скорость 100 мигабит в секунду. Из сотовых операторов относительно устойчив только Билайн.
          li.equipment__item
            a.equipment__link(data-src="assets/images/content/image-scheme-5.svg") Курение: курение в Домике не допускается, но допускается на террасе

        .equipment__image.lazy(data-bg="url(assets/images/content/equipment-image.jpg)")
          img.equipment__scheme(src="" alt="")


      .equipment__additional

        h3.equipment__additional.title.title_smallest Дополнительные услуги
        ul.equipment__additional-list
          li.equipment__additional-item.equipment__additional-item_active Русская баня на дровах — <span>750 руб./час</span>, не менее <span>2-х</span> часов

          li.equipment__additional-item Выезд в Чемоданово (туда/обратно) — <span>500 руб.</span>

          li.equipment__additional-item Обед из русской печи (три блюда) — <span>250 руб.</span>

          li.equipment__additional-item Выезд в Юхнов из деревни (туда/обратно) — <span>500 руб.</span

          li.equipment__additional-item Дополнительная раскладушка в домик — <span>300 руб.</span>
