mixin choose-popup(data)
  .mfp-hide.choose-popup#choose-popup&attributes(attributes)
    .choose-popup__top
      .choose-popup__col.choose-popup__col_desc

        .choose-popup__sliders
          .choose-popup__slider.swiper-container
            .swiper-wrapper
              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  a.choose-popup__link(href='assets/images/content/gallery-img-1.jpg')
                    img.choose-popup__image(src="assets/images/content/gallery-img-1.jpg", alt="")

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  a.choose-popup__link(href='assets/images/content/gallery-img-2.jpg')
                    img.choose-popup__image(src="assets/images/content/gallery-img-2.jpg", alt="")

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  | <iframe src="https://www.youtube.com/embed/WeHhltGnops?controls=1&showinfo=0" frameborder="0" allowfullscreen></iframe>

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  a.choose-popup__link(href='assets/images/content/gallery-img-3.jpg')
                    img.choose-popup__image(src="assets/images/content/gallery-img-3.jpg", alt="")

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  a.choose-popup__link(href='assets/images/content/gallery-img-4.jpg')
                    img.choose-popup__image(src="assets/images/content/gallery-img-4.jpg", alt="")

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  a.choose-popup__link(href='assets/images/content/gallery-img-5.jpg')
                    img.choose-popup__image(src="assets/images/content/gallery-img-5.jpg", alt="")

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  a.choose-popup__link(href='assets/images/content/gallery-img-6.jpg')
                    img.choose-popup__image(src="assets/images/content/gallery-img-6.jpg", alt="")

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  a.choose-popup__link(href='assets/images/content/gallery-img-7.jpg')
                    img.choose-popup__image(src="assets/images/content/gallery-img-7.jpg", alt="")

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  a.choose-popup__link(href='assets/images/content/gallery-img-8.jpg')
                    img.choose-popup__image(src="assets/images/content/gallery-img-8.jpg", alt="")

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  | <iframe src="https://www.youtube.com/embed/WeHhltGnops?controls=1&playsinline=1&showinfo=0" frameborder="0" allowfullscreen></iframe>

          .choose-popup__thumbs-w
            .choose-popup__thumbs.swiper-container
              .swiper-wrapper
                .choose-popup__thumb.swiper-slide
                  .choose-popup__thumb-in
                    img.choose-popup__thumb-image(src="assets/images/content/gallery-img-1.jpg", alt="")
                .choose-popup__thumb.swiper-slide
                  .choose-popup__thumb-in
                    img.choose-popup__thumb-image(src="assets/images/content/gallery-img-2.jpg", alt="")
                .choose-popup__thumb.choose-popup__thumb_video.swiper-slide
                  .choose-popup__thumb-in
                    img.choose-popup__thumb-image(src="assets/images/content/gallery-img-3.jpg", alt="")
                .choose-popup__thumb.swiper-slide
                  .choose-popup__thumb-in
                    img.choose-popup__thumb-image(src="assets/images/content/gallery-img-4.jpg", alt="")
                .choose-popup__thumb.swiper-slide
                  .choose-popup__thumb-in
                    img.choose-popup__thumb-image(src="assets/images/content/gallery-img-5.jpg", alt="")
                .choose-popup__thumb.swiper-slide
                  .choose-popup__thumb-in
                    img.choose-popup__thumb-image(src="assets/images/content/gallery-img-6.jpg", alt="")

                .choose-popup__thumb.swiper-slide
                  .choose-popup__thumb-in
                    img.choose-popup__thumb-image(src="assets/images/content/gallery-img-7.jpg", alt="")
                .choose-popup__thumb.swiper-slide
                  .choose-popup__thumb-in
                    img.choose-popup__thumb-image(src="assets/images/content/gallery-img-8.jpg", alt="")
                .choose-popup__thumb.swiper-slide
                  .choose-popup__thumb-in
                    img.choose-popup__thumb-image(src="assets/images/content/gallery-img-9.jpg", alt="")
                .choose-popup__thumb.swiper-slide.choose-popup__thumb_video
                  .choose-popup__thumb-in
                    img.choose-popup__thumb-image(src="assets/images/content/gallery-img-10.jpg", alt="")




      .choose-popup__col.choose-popup__col_shrink

        .choose-popup__sliders.choose-popup__sliders_mob
          .choose-popup__slider.swiper-container
            .swiper-wrapper
              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  a.choose-popup__link(href='assets/images/content/gallery-img-1.jpg')
                    img.choose-popup__image(src="assets/images/content/gallery-img-1.jpg", alt="")

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  a.choose-popup__link(href='assets/images/content/gallery-img-2.jpg')
                    img.choose-popup__image(src="assets/images/content/gallery-img-2.jpg", alt="")

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  | <iframe src="https://www.youtube.com/embed/WeHhltGnops?controls=1&showinfo=0" frameborder="0" allowfullscreen></iframe>

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  a.choose-popup__link(href='assets/images/content/gallery-img-3.jpg')
                    img.choose-popup__image(src="assets/images/content/gallery-img-3.jpg", alt="")

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  a.choose-popup__link(href='assets/images/content/gallery-img-4.jpg')
                    img.choose-popup__image(src="assets/images/content/gallery-img-4.jpg", alt="")

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  a.choose-popup__link(href='assets/images/content/gallery-img-5.jpg')
                    img.choose-popup__image(src="assets/images/content/gallery-img-5.jpg", alt="")

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  a.choose-popup__link(href='assets/images/content/gallery-img-6.jpg')
                    img.choose-popup__image(src="assets/images/content/gallery-img-6.jpg", alt="")

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  a.choose-popup__link(href='assets/images/content/gallery-img-7.jpg')
                    img.choose-popup__image(src="assets/images/content/gallery-img-7.jpg", alt="")

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  a.choose-popup__link(href='assets/images/content/gallery-img-8.jpg')
                    img.choose-popup__image(src="assets/images/content/gallery-img-8.jpg", alt="")

              .choose-popup__slide.swiper-slide
                .choose-popup__slide-in
                  | <iframe src="https://www.youtube.com/embed/WeHhltGnops?controls=1&playsinline=1&showinfo=0" frameborder="0" allowfullscreen></iframe>

        h2.choose-popup__title Печкин дом

        ul.choose-popup__features
          li.choose-popup__features-item
            != pugHelpers.Icon.call(locals, {iconName: 'wifi-icon', className: 'choose-popup__features-icon'})
            .choose-popup__features-title Бесплатный wi-fi
          li.choose-popup__features-item
            != pugHelpers.Icon.call(locals, {iconName: 'bbg-icon', className: 'choose-popup__features-icon'})
            .choose-popup__features-title Мангал для барбекю


        .choose-popup__thumbs-w.choose-popup__thumbs-w_mob
          .choose-popup__thumbs.swiper-container
            .swiper-wrapper
              .choose-popup__thumb.swiper-slide
                .choose-popup__thumb-in
                  img.choose-popup__thumb-image(src="assets/images/content/gallery-img-1.jpg", alt="")
              .choose-popup__thumb.swiper-slide
                .choose-popup__thumb-in
                  img.choose-popup__thumb-image(src="assets/images/content/gallery-img-2.jpg", alt="")
              .choose-popup__thumb.choose-popup__thumb_video.swiper-slide
                .choose-popup__thumb-in
                  img.choose-popup__thumb-image(src="assets/images/content/gallery-img-3.jpg", alt="")
              .choose-popup__thumb.swiper-slide
                .choose-popup__thumb-in
                  img.choose-popup__thumb-image(src="assets/images/content/gallery-img-4.jpg", alt="")
              .choose-popup__thumb.swiper-slide
                .choose-popup__thumb-in
                  img.choose-popup__thumb-image(src="assets/images/content/gallery-img-5.jpg", alt="")
              .choose-popup__thumb.swiper-slide
                .choose-popup__thumb-in
                  img.choose-popup__thumb-image(src="assets/images/content/gallery-img-6.jpg", alt="")

              .choose-popup__thumb.swiper-slide
                .choose-popup__thumb-in
                  img.choose-popup__thumb-image(src="assets/images/content/gallery-img-7.jpg", alt="")
              .choose-popup__thumb.swiper-slide
                .choose-popup__thumb-in
                  img.choose-popup__thumb-image(src="assets/images/content/gallery-img-8.jpg", alt="")
              .choose-popup__thumb.swiper-slide
                .choose-popup__thumb-in
                  img.choose-popup__thumb-image(src="assets/images/content/gallery-img-9.jpg", alt="")
              .choose-popup__thumb.swiper-slide.choose-popup__thumb_video
                .choose-popup__thumb-in
                  img.choose-popup__thumb-image(src="assets/images/content/gallery-img-10.jpg", alt="")


        dl.choose-popup__info
          .choose-popup__item
            dt.choose-popup__term Количество персон
            dd.choose-popup__desc 12
          .choose-popup__item
            dt.choose-popup__term Площадь
            dd.choose-popup__desc 114 м кв.
          .choose-popup__item
            dt.choose-popup__term Цена, от
            dd.choose-popup__desc 2 500р./сут.
          .choose-popup__item
            dt.choose-popup__term Беседка
            dd.choose-popup__desc Да

        .choose-popup__text.text
          p По вашему желанию Русская баня на дровах (750р./ 1 час, но не менее 2-х часов). В бане самовар и "травяной" стол из местных, выращенных дикой природой, сборов, об индивидуальной полезности которых вы здесь же и ознакомитесь.

          p Выберете себе веник – березовый или дубовый (200р./шт.), не забудьте из дома собственные тапочки — и Ух!...

    .choose-popup__bottom
      form.form.form_choose(action="")
        .form__group
          input.form__input(type="input" value="" placeholder="Ваше имя")
        .form__group.form__group_phone
          input.form__input(type="input" value="" placeholder="Ваш телефон")

        input.choose-popup__submit.form__submit.button.button_yellow(type="submit", value="Заявка на бронирование")
        .form__bottom
          .form__privacy Нажимая кнопку “Заявка на бронирование”, вы соглашаетесь с
            a.form__privacy-link(href='') Политикой конфиденциальности


